.game-box{
	z-index: 1;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 90vw;
	height: 90vh;
	overflow: auto;
	border-radius: 100px;
	background-color: rgb(18, 18, 19);
	background-color: rgb(18, 18, 19);
	-webkit-box-shadow:0px 0px 130px 17px rgba(221,230,227,0.32);
	-moz-box-shadow: 0px 0px 130px 17px rgba(221,230,227,0.32);
	box-shadow: 0px 0px 130px 17px rgba(221,230,227,0.32);
}

.game-box::-webkit-scrollbar {
	width:50px;
  	border-radius: 10px;
  	background-color: rgb(0, 0, 0 ,0);
}

.game-box::-webkit-scrollbar-thumb {
	width:50px;
  	border-radius: 10px;
  	background-color: rgb(128, 128, 128);
}

.game-box::-webkit-scrollbar-thumb:hover {
  	background-color: rgb(100, 100, 100);
}


.header-box{
	margin: 20px;
	text-align: center;
	display: flex;
	flex-direction: column;
}

.header-box h1{
	color:white;
	font-weight: bold;
	font-size: 50px;
}

.header-box h2{
	color:white;
	font-weight: bold;
	font-size: 20px;
}

.gameplay-box{
	position: relative;
	height: 100px;
}

.guess-boxes{
	display: flex;
	flex-direction: row;
}

.center-items{
	align-items: center;
	justify-content: center;
}

.char-box{
	height: 200px;
	width: 200px;
	font-size: 10em;
	
	display: flex;
	text-align: center;
	justify-content: center;
}

.expo-box{
	height: 100px;
	width: 100px;
	margin-bottom: 10px;
	font-size: 4em;
		
	display: flex;
	text-align: center;
	justify-content: center;
}

.char-box h1{
	font-size: 1em;
	font-weight: bold;
	padding: 10px;
}

.expo-box h1{
	font-size: .75em;
	font-weight: bold;
	padding: 40px;
}

.box {
	background-color: black;
	border-color: gray;
	border-style: solid;
	border-width: 4px;
	margin: 5px 5px 5px 5px;

	color: aliceblue;
	font-weight: bold;
}

.guess {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 20px;
	height: 300px;
	width: 90%;
	margin: 10px auto;
}

.guessSubmit{
	visibility: hidden;
}

.curr-guess{
	background-color: rgb(128, 255, 128, 0);
}

.not-curr-guess
{
	background-color: rgb(255, 0, 0, 0);
}

.integrordle-gray{
	background-color: gray;
	border-width: 0;
}

.integrordle-yellow{
	background-color: rgb(139, 128, 0);
	border-width: 0;
}

.integrordle-green{
	background-color: green;
	border-width: 0;
}

.stats-box{
	z-index: 2;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 95vh;
	width: 95vw;
	background-color: #111;
	border-radius:25px;
	-webkit-box-shadow:0px 0px 130px 17px rgba(221,230,227,0.32);
	-moz-box-shadow: 0px 0px 130px 17px rgba(221,230,227,0.32);
	box-shadow: 0px 0px 130px 17px rgba(221,230,227,0.32);
}

.inner-stats-box{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 95%;
	width: 95%;
	background-color: black;
	border-radius: 25px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.stats-title-box{
	margin: 20px;
	text-align: center;
}

.stats-title-box h1 {
	font-size: 100px;
	color: white;
	font-weight: bold;
}

.play-again{
	border-radius: 30px;
	font-size: 50px;
	font-weight: bold;
	margin: 20px;
}

.micro-box {
	margin: 5px 5px 5px 5px;
}

.micro-char-box{
	height: 100px;
	width: 100px;
	
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
}

.micro-char-box h1{
	font-size: 100px;
}

.micro-expo-box h1{
	font-size: 40px;
}

.micro-expo-box{
	height: 50px;
	width: 50px;
	margin-bottom: 30px;

	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
}

.stats-body{
	margin: 20px;
	background-color: #111;
	border-radius: 20px;
	padding: 5px;
}

.this-play-stats{
	font-size: 20px;
	color: white;
	font-weight: bold;
	padding: 20px
}

.problem-id{
	text-align: right;
	margin: 20px;
}

.problem-id h1{
	color: gray;
	font-size: 20px;
	font-weight: bold;
}	

.solution-on-loss {
	background-color: #111;
	border-radius: 20px;
	height: 200px;
	margin: 20px;
}

.solution-on-loss-click-h1{
	color: white;
	font-size: 20px;
	font-weight: bold;
	padding: 20px
}

.solution-on-loss-text{
	visibility: hidden;
	opacity: 0;
	transition: 0.5s; 
}

.lose-page-body-content{
	display: flex;
	flex-direction: row;
}

.back-button{
	position: absolute;
	z-index: 3;
	border-radius: 30px;
	font-size: 25px;
	font-weight: bold;
	padding: 25px 75px;
	
	top: 10%;
	left: 15%;
	transform: translate(-50%, -50%);
}