.game-box{
	z-index: 1;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 90vw;
	height: 90vh;
	overflow: auto;
	border-radius: 100px;
	background-color: rgb(18, 18, 19);
	background-color: rgb(18, 18, 19);
	-webkit-box-shadow:0px 0px 130px 17px rgba(221,230,227,0.32);
	-moz-box-shadow: 0px 0px 130px 17px rgba(221,230,227,0.32);
	box-shadow: 0px 0px 130px 17px rgba(221,230,227,0.32);
}

.game-box::-webkit-scrollbar {
  display: none;
}

.header-box{
	margin: 20px;
	text-align: center;
	display: flex;
	flex-direction: column;
}

.header-box h1{
	color:white;
	font-weight: bold;
	font-size: 50px;
}

.header-box h2{
	color:white;
	font-weight: bold;
	font-size: 20px;
}

.gameplay-box{
	position: relative;
	height: 100px;
}

.curr-guess-boxes{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
}

.guess {
	height: 400px;
	width: 90%;
	margin: 10px auto;
}

.curr-guess
{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgb(128, 255, 128);
}

.not-curr-guess
{
	background-color: rgb(255, 0, 0);
}

.integrordle-gray{
	background-color: gray;
}

.integrordle-yellow{
	background-color: yellow;
}

.integrordle-green{
	background-color: green;
}