body {
	/* background-image: url("plus_sign.png"); */
	background-position: 0% 0%;
	background-repeat: no-repeat;
	background-color: green;
	height: 100vh;
	overflow: hidden;
}

#move {
	position: absolute; 
	top: -50%;
	left: -50%;
	z-index: -1;
	height: 200vh;
}

td, th {
  border: 0px;
}

#title {
	font-size: 100px;
	color: white;	
}

#buttonContainer {
	position: relative;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

#buttonContainer button{
	position: relative;
	top:100px;
	right: 250px;
}

