.dark{
	z-index: 1;
	background-color: rgb(18, 18, 19);
	-webkit-box-shadow:0px 0px 130px 17px rgba(221,230,227,0.32);
	-moz-box-shadow: 0px 0px 130px 17px rgba(221,230,227,0.32);
	box-shadow: 0px 0px 130px 17px rgba(221,230,227,0.32);
}

.navbar-text{
	font-size: 25px;
	font-weight: bold;
	color: white;
	padding-left: 1%;
}

.settings {
	width: 50px;
	height: auto;
}

.help {
	width: 50px;
	height: auto;
	animation: swing 1s ease-in-out infinite alternate
 
}

.help:hover{
	animation-play-state: running, paused;
}

@keyframes swing {
  0%  {rotate: 15deg;}
  100% {rotate: -15deg;}
}

.far-left{
	display: flex;
	justify-content: space-between;
	width: 7.5%;
	padding-right: 1%;
}

.sidenav {
  height: 0; 
  width: 25%; 
  position: absolute; 
  z-index: 0; 
  top: 0%;
  right: 0;
  background-color: #111; 
  opacity: 95%;
  overflow: hidden;
  transition: 0.5s; 
}

.sidenav-info-top{
	bottom: 0%;
	height: 25%;
	margin-top: 85px;
	margin-left: 20px;
	margin-right: 20px;
	background-color: black;
	border-radius: 10px;
}

.sidenav-info{
	bottom: 0%;
	height: 25%;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	background-color: black;
	border-radius: 10px;
}

.help-box{
	visibility: hidden;
	opacity: 0%;
	z-index: 1;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 75vh;
	width: 50vw;
	background-color: #111;
	border-radius:25px;
	transition: 0.5s;
}

.inner-help-box{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 95%;
	width: 95%;
	background-color: black;
	border-radius: 25px;
	overflow: auto;
	padding: 10px;
}

.help-title-box{
	margin: 20px;
	text-align: center;
}

.how-to-title{
	font-size: 100px;
	color: white;
	font-weight: bold;
}

.tutorial{
	width: 100%;
	height: 50%;
}

.char-box{
	border-radius: 20px;
	height: 100px;
	width: 100px;
	font-size: 5em;
	
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
}

.box {
	background-color: black;
	border-color: gray;
	border-style: solid;
	border-width: 4px;
	margin: 5px 5px 5px 5px;

	color: aliceblue;
	font-weight: bold;
}

.sidenav-info-top{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.sidenav-info{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	
}

.sidenav-info h1{
	font-weight: bold;
	color: white;
}


.submit {
	font-weight: bold;
}

.credits-text{
	margin: 5px;
	color: white;
	font-weight: bold;
}

.integrordle-gray{
	background-color: gray;
	border-width: 0;
}

.integrordle-yellow{
	background-color: rgb(139, 128, 0);
	border-width: 0;
}

.integrordle-green{
	background-color: green;
	border-width: 0;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.streak-box h1{
	font-size: 1em;
}

.tutorial h3{
	font-weight: bold;
	color: white;
}

.inner-help-box::-webkit-scrollbar {
	width: 20px;
  	border-radius: 10px;
  	background-color: rgb(0, 0, 0 ,0);
}

.inner-help-box::-webkit-scrollbar-thumb {
	width: 20px;
  	border-radius: 10px;
  	background-color: rgb(128, 128, 128);
}

.inner-help-box::-webkit-scrollbar-thumb:hover {
  	background-color: rgb(100, 100, 100);
}
