<!doctype html>
<html layout:decorate="layouts/gameLayout">
	<head>
		<link rel="stylesheet" href="css/game.css">
		<link rel="icon" href="images/favicon.png">
		<title>Game</title>
		
		<script id="MathJax-script"
		  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
		</script>
		
		<script>		
			window.addEventListener('load', typeset(() => {
					let problemHeader = document.getElementById("problemHeader");
					return [problemHeader];
				}));
			
			let promise = Promise.resolve();  // Used to hold chain of typesetting calls

			function typeset(code) {
			  promise = promise.then(() => MathJax.typesetPromise(code()))
			                   .catch((err) => console.log('Typeset failed: ' + err.message));
			  return promise;
			}
		</script>
	</head>
  	<body>
		<div layout:fragment="content">	
			<div class="game-box">
				<div class="header-box">
					<h1 id="problemHeader" th:text="${problemHandler.problem.mathJaxFormattedIntegral}"></h1>
					<h2 th:text="${problemHandler.problem.description}"></h2>
					<h1 th:text="${problemHandler.problem.mathJaxFormattedFunction}"></h2>
				</div>
				<div class="gameplay-box">
					<div th:if="${problemHandler.win}">
						<div class="win-box">
							
						</div>
					</div>
					
					<div th:if="${problemHandler.guessIndex == problemHandler.maxGuessesAllowed-1}">
						<div class="lose-box">
							
						</div>
					</div>
					
					<!-- Format all types of guesses to look like f(x)
						
						past | present | future 
						
						make char box square, 1 char, white outline like worlde normal
						make expo box sqaure, 1 char, white outline like wordle execpt positioned to the top right of any given char box
						all boxes appear left to right on the same line and are relatively big
					-->
					
					<!-- Create system for on win or on lose which stops gameplay 
					and displays solution along with stats and quick representation of gameplay with restart button (go to main page + randomize game on play from text file maybe json instead)
					-->
						
					<!-- On game win, change currGuess container to stop working and look normal like past ones
					On game win or lose, show stat graphic 
					-->	
					
					<th:block th:each="guess, guessIter : ${#numbers.sequence(0, problemHandler.maxGuessesAllowed-1)}">
						<div th:if="${guessIter.index == problemHandler.guessIndex}">
							<div class="curr-guess guess">
								<form action="#" method="post" th:action="@{processGuess}" th:object="${userGuess}" autocomplete="off">
									<div class="guess-boxes">
										<th:block th:each="boxID, boxIDIter : ${problemHandler.problem.boxIDs}">
	
												<div th:if="${#strings.equals(boxID, problemHandler.problem.CHAR_BOX)}"> 
													<input type="text" th:field="*{guessBoxes[__${boxIDIter.index}__].value}" class="input-char-box char-box box" maxlength="1"></input>
												</div>
												
												<div th:if="${#strings.equals(boxID, problemHandler.problem.EXPO_BOX)}"> 
													<input type="text" th:field="*{guessBoxes[__${boxIDIter.index}__].value}" class="input-expo-box expo-box box" maxlength="1"></input>
												</div>
												
										</th:block>
									</div>
									<button type="submit" class="btn btn-primary guessSubmit">Submit</button>
								</form>
							</div>
						</div>
						
						<div th:if="${guessIter.index < problemHandler.guessIndex}">
							<div class="not-curr-guess guess"> 
								<div class="guess-boxes">
									<th:block th:each="boxID, boxIDIter : ${problemHandler.problem.boxIDs}">
	
											<div th:if="${#strings.equals(boxID, problemHandler.problem.CHAR_BOX)}"> 
												<div class="char-box box" th:classappend="${problemHandler.guesses[__${guessIter.index}__].guessBoxes[__${boxIDIter.index}__].color}">
													<h1 th:text="${problemHandler.guesses[__${guessIter.index}__].guessBoxes[__${boxIDIter.index}__].value}"></h1>
												</div>
											</div>
											
											<div th:if="${#strings.equals(boxID, problemHandler.problem.EXPO_BOX)}"> 
												<div class="expo-box box" th:classappend="${problemHandler.guesses[__${guessIter.index}__].guessBoxes[__${boxIDIter.index}__].color}">
													<h1 th:text="${problemHandler.guesses[__${guessIter.index}__].guessBoxes[__${boxIDIter.index}__].value}"></h1>
												</div>
											</div>
											
									</th:block>
								</div>
							</div>
						</div>
						
						<div th:if="${guessIter.index > problemHandler.guessIndex}">
							<div class="not-curr-guess guess"> 
								<div class="guess-boxes">
									<th:block th:each="boxID, boxIDIter : ${problemHandler.problem.boxIDs}">
										
										<div th:if="${#strings.equals(boxID, problemHandler.problem.CHAR_BOX)}"> 
											<div class="char-box box">
												<h1></h1>
											</div>
										</div>
		
										<div th:if="${#strings.equals(boxID, problemHandler.problem.EXPO_BOX)}"> 
											<div class="expo-box box">
												<h1></h1>
											</div>
										</div>
										
									</th:block>
								</div>
							</div>
						</div>
					</th:block>
				</div>
			</div>
		</div>
	</body>
</html>