<!doctype html>
<html layout:decorate="layouts/gameLayout">
	<head>
		<link rel="stylesheet" href="css/game.css">
		<link rel="icon" href="images/favicon.png">
		<title>Game</title>
		
		<script id="MathJax-script"
		  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
		</script>
		
		<script>		
			window.addEventListener('load', typeset(() => {
					let problemHeader = document.getElementById("problemHeader");
					return [problemHeader];
				}));
			
			let promise = Promise.resolve();  // Used to hold chain of typesetting calls

			function typeset(code) {
			  promise = promise.then(() => MathJax.typesetPromise(code()))
			                   .catch((err) => console.log('Typeset failed: ' + err.message));
			  return promise;
			}
		</script>
	</head>
  	<body>
		<div layout:fragment="content">	
			
			<div th:if="${problemHandler.win}">
				<div class="win-box">
					<div id="stats-box" class="stats-box">
						<div class="inner-stats-box">
							<div class="stats-title-box">
								<h1>Nice Work!</h1>
							</div>
							<div class="stats-body">
								<h1>This Play's Stats</h1>
								<th:block th:each="guessIndex : ${#numbers.sequence(0, problemHandler.guessIndex-1)}">
									<div class="guess-boxes">
										<th:block th:each="guessBoxIndex : ${#numbers.sequence(0, problemHandler.problem.boxIDs.length-1)}">
											
											<div th:if="${#strings.equals(problemHandler.problem.boxIDs[__${guessBoxIndex}__], problemHandler.problem.CHAR_BOX)}"> 
												<div class="micro-char-box micro-box" th:classappend="${problemHandler.guesses[__${guessIndex}__].guessBoxes[__${guessBoxIndex}__].color}")>
													<h1></h1>
												</div>
											</div>

											<div th:if="${#strings.equals(problemHandler.problem.boxIDs[__${guessBoxIndex}__], problemHandler.problem.EXPO_BOX)}"> 
												<div class="micro-expo-box micro-box" th:classappend="${problemHandler.guesses[__${guessIndex}__].guessBoxes[__${guessBoxIndex}__].color}">
													<h1></h1>
												</div>
											</div>
											
										</th:block>
									</div>
								</th:block>
							</div>
							<form action="#" th:action="@{/}">
								<button type="submit" class="btn btn-light play-again">Play Again</button>
							</form>
							<div class="problem-id">
								<h1> Problem ID: <span th:text="${problemHandler.problemID}"></span> </h1>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div th:if="${!problemHandler.win} and ${problemHandler.guessIndex == problemHandler.maxGuessesAllowed}">
				<div class="lose-box">
					<div id="stats-box" class="stats-box">
						<div class="inner-stats-box">
							<div class="stats-title-box">
								<h1>Nice Try!</h1>
							</div>
							<!-- Make the solution in the div below and make it click to show/hide-->
							<div class="solution-on-loss">
								
							</div>
							<div class="stats-body">
								<h1>This Play's Stats</h1>
								<th:block th:each="guessIndex : ${#numbers.sequence(0, problemHandler.guessIndex-1)}">
									<div class="guess-boxes">
										<th:block th:each="guessBoxIndex : ${#numbers.sequence(0, problemHandler.problem.boxIDs.length-1)}">
											
											<div th:if="${#strings.equals(problemHandler.problem.boxIDs[__${guessBoxIndex}__], problemHandler.problem.CHAR_BOX)}"> 
												<div class="micro-char-box micro-box" th:classappend="${problemHandler.guesses[__${guessIndex}__].guessBoxes[__${guessBoxIndex}__].color}")>
													<h1></h1>
												</div>
											</div>

											<div th:if="${#strings.equals(problemHandler.problem.boxIDs[__${guessBoxIndex}__], problemHandler.problem.EXPO_BOX)}"> 
												<div class="micro-expo-box micro-box" th:classappend="${problemHandler.guesses[__${guessIndex}__].guessBoxes[__${guessBoxIndex}__].color}">
													<h1></h1>
												</div>
											</div>
											
										</th:block>
									</div>
								</th:block>
							</div>
							<form action="#" th:action="@{/}">
								<button type="submit" class="btn btn-light play-again">Play Again</button>
							</form>
							<div class="problem-id">
								<h1> Problem ID: <span th:text="${problemHandler.problemID}"></span> </h1>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="game-box">
				<div class="header-box">
					<h1 id="problemHeader" th:text="${problemHandler.problem.mathJaxFormattedIntegral}"></h1>
					<h2 th:text="${problemHandler.problem.description}"></h2>
					<h1 th:text="${problemHandler.problem.mathJaxFormattedFunction}"></h1>
				</div>
				<div class="gameplay-box">
					<th:block th:each="guess, guessIter : ${#numbers.sequence(0, problemHandler.maxGuessesAllowed-1)}">
						<div th:if="${guessIter.index == problemHandler.guessIndex}">
							
							<div th:unless="${problemHandler.win}">
								<div class="curr-guess guess">
									<form action="#" method="post" th:action="@{processGuess}" th:object="${userGuess}" autocomplete="off">
										<div class="guess-boxes">
											<th:block th:each="boxID, boxIDIter : ${problemHandler.problem.boxIDs}">
		
													<div th:if="${#strings.equals(boxID, problemHandler.problem.CHAR_BOX)}"> 
														<input type="text" th:field="*{guessBoxes[__${boxIDIter.index}__].value}" class="input-char-box char-box box" maxlength="1" 	required></input>
													</div>
													
													<div th:if="${#strings.equals(boxID, problemHandler.problem.EXPO_BOX)}"> 
														<input type="text" th:field="*{guessBoxes[__${boxIDIter.index}__].value}" class="input-expo-box expo-box box" maxlength="1" required></input>
													</div>
													
											</th:block>
										</div>
										<button type="submit" class="btn btn-primary guessSubmit">Submit</button>
									</form>
								</div>
							</div>
							
							<div th:if="${problemHandler.win} and ${problemHandler.guessIndex != problemHandler.maxGuessesAllowed}">
								<div class="curr-guess guess"> 
									<div class="guess-boxes">
										<th:block th:each="boxID, boxIDIter : ${problemHandler.problem.boxIDs}">
											
											<div th:if="${#strings.equals(boxID, problemHandler.problem.CHAR_BOX)}"> 
												<div class="char-box box">
													<h1></h1>
												</div>
											</div>

											<div th:if="${#strings.equals(boxID, problemHandler.problem.EXPO_BOX)}"> 
												<div class="expo-box box">
													<h1></h1>
												</div>
											</div>
											
										</th:block>
									</div>
								</div>
							</div>
						</div>
						
						<div th:if="${guessIter.index < problemHandler.guessIndex}">
							<div class="not-curr-guess guess"> 
								<div class="guess-boxes">
									<th:block th:each="boxID, boxIDIter : ${problemHandler.problem.boxIDs}">
	
											<div th:if="${#strings.equals(boxID, problemHandler.problem.CHAR_BOX)}"> 
												<div class="char-box box" th:classappend="${problemHandler.guesses[__${guessIter.index}__].guessBoxes[__${boxIDIter.index}__].color}">
													<h1 th:text="${problemHandler.guesses[__${guessIter.index}__].guessBoxes[__${boxIDIter.index}__].value}"></h1>
												</div>
											</div>
											
											<div th:if="${#strings.equals(boxID, problemHandler.problem.EXPO_BOX)}"> 
												<div class="expo-box box" th:classappend="${problemHandler.guesses[__${guessIter.index}__].guessBoxes[__${boxIDIter.index}__].color}">
													<h1 th:text="${problemHandler.guesses[__${guessIter.index}__].guessBoxes[__${boxIDIter.index}__].value}"></h1>
												</div>
											</div>
											
									</th:block>
								</div>
							</div>
						</div>
						
						<div th:if="${guessIter.index > problemHandler.guessIndex}">
							<div class="not-curr-guess guess"> 
								<div class="guess-boxes">
									<th:block th:each="boxID, boxIDIter : ${problemHandler.problem.boxIDs}">
										
										<div th:if="${#strings.equals(boxID, problemHandler.problem.CHAR_BOX)}"> 
											<div class="char-box box">
												<h1></h1>
											</div>
										</div>
		
										<div th:if="${#strings.equals(boxID, problemHandler.problem.EXPO_BOX)}"> 
											<div class="expo-box box">
												<h1></h1>
											</div>
										</div>
										
									</th:block>
								</div>
							</div>
						</div>
					</th:block>
				</div>
			</div>
		</div>
	</body>
</html>