<!DOCTYPE html>
<html onmousemove="showCoords(event)">

<head>
	<title>This is my page</title>
	<link rel="stylesheet" href="resources/styling/style.css">
</head>	
<body style="border:1px solid black;padding:4px">
	<h1 th:text="${rating}">Default rating</h1>
	<p>This is bouta be fire if this works</p>
	<h1 id="test"></h1>


<script>
	function showCoords(event) {
	  let cX = event.clientX;
	  let cY = event.clientY;
	  let sX = event.screenX;
	  let sY = event.screenY;
	  let coords1 = "clientX: " + cX + ", clientY: " + cY;
	  let coords2 = "screenX: " + sX + ", screenY: " + sY;
	  document.getElementById("test").innerHTML = coords1 + "<br>" + coords2;
	}
</script>
</body>
</html>