body {
	/* background-image: url("plus_sign.png"); */
	background-position: 0% 0%;
	background-repeat: no-repeat;
	background-color: green;
	height: 100vh;
	overflow: hidden;
}

#move {
	position: absolute;
	z-index: -1;
	height: 200vh;
}

td, th {
  border: 0px;
}

#title {
	font-size: 50px;
	color: white;
}

#buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vh;
    height: 100vh;
}