body {
	/* background-image: url("plus_sign.png"); */
	background-position: 0% 0%;
	background-repeat: no-repeat;
	height: 100vh;
	overflow: hidden
}

#move {
	position: absolute;
	z-index: -1;
	height: 200vh;
}

td, th {
  border: 0px
}